body {
	background: url(../img/login_bg.png);
	background-size: cover;
}
.login {
	width: 25%;
	height: auto;
	overflow: hidden;
	text-align: center;
	padding: 2%;
	margin: 150px auto;
	background: #fff;
	border-top: 5px solid #0093dd;
	box-shadow: 0px 12px 12px #222;
}
.logo {
	width: 100%;
	text-align: center;
	margin: 0 auto 50px auto;
	height: 80px;
}
.form {
	max-width: 100%;
}
.form input {
	margin: 10px 0;
	width: 80%;
	box-sizing:border-box;
	padding: 15px 10px;
}
.form button {
	border: none;
	width: 80%;
	margin-top: 15px;
	box-sizing:border-box;
	background: #0093dd;
	color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px 0;
}
.form button:hover {
	background: #0380bf;
}
.password {
	width: 64px;
	height: 64px;
}
.password:before {
	content: "";
	background: url(../img/username.png);
	width: 64px;
	height: 64px;
}

/* responsive */
@media screen and (max-width: 960px) {
	.login {
		width: 50%;
	}
}
@media screen and (max-width: 460px) {
	.login {
		width: 90%;
		margin: 20px auto;
	}
}